@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(109, 214, 10);
}

footer{
    width: 100%;
    background-color: #1ca3b4;
    height: 100px;
}

h1,
h3,
h4,
h5{
    color: #000000ce;
}

#wrapper{
    max-width: 1120px;
    width: 70%;
    margin: auto;
}

h1{
    font-size: 60px;
    font-weight: 800;
}

h3{
    font-size: 30px;
    font-weight: 800;
}

h4{
    font-size: 21px;
    font-weight: 700;
}

h5{
    font-size: 18px;
    font-weight: 700;
}

a{
    color: #3dd60e;
}